<section class="flex w-full flex-col gap-7 p-8">
  <header
    class="w-full border-b pb-7 text-2xl border-b-outline dark:border-b-outlineDark/40"
  >
    <h1 class="font-light montserrat">Update User</h1>
  </header>

  <h2 class="font-light montserrat text-lg font-semibold">User Details:</h2>

  <div
    class="w-full border border-outline dark:border-outlineDark/40 rounded-b-lg"
  >
    <table
      class="table-auto w-full montserrat font-light bg-surfaceC dark:bg-surfaceCDark rounded-b-lg p-10"
    >
      <thead class="bg-surfaceBright dark:bg-surfaceBrightDark">
        <tr>
          <th class="px-4 py-2">Id</th>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Last name</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Status</th>
          <th class="px-4 py-2">Profile Id</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td
            class="border-r text-center border-outline dark:border-outlineDark/50 px-4 py-3"
          >
            {{ selectedUser.userId }}
          </td>
          <td
            class="border-x text-center border-outline dark:border-outlineDark/50 px-4 py-3"
          >
            {{ selectedUser.names }}
          </td>
          <td
            class="border-x text-center border-outline dark:border-outlineDark/50 px-4 py-3"
          >
            {{ selectedUser.lastNames }}
          </td>
          <td
            class="border-x text-center border-outline dark:border-outlineDark/50 px-4 py-3"
          >
            {{ selectedUser.email }}
          </td>
          <td
            class="border-x text-center border-outline dark:border-outlineDark/50 px-4 py-3"
          >
            <span
              [className]="
                selectedUser.status
                  ? 'rounded-xl px-4 py-2 text-sm font-bold opacity-70 bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark'
                  : 'rounded-xl px-4 py-2 text-sm font-bold opacity-70 bg-errorDark text-error dark:bg-onErrorDarK'
              "
            >
              {{ selectedUser.status ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <td
            class="border-l text-center border-outline dark:border-outlineDark/50 px-4 py-3"
          >
            {{ selectedUser.profileId }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="font-light montserrat text-lg font-semibold">Form User:</h2>

  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="updateUserForm"
    class="flex w-full flex-col items-start justify-start space-y-3"
  >
    <div class="flex w-full items-center justify-start gap-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label> Name </mat-label>
        <input
          [value]="selectedUser.names"
          formControlName="name"
          matInput
          placeholder="Name"
        />
        <mat-hint> User's name </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label> Last name </mat-label>
        <input
          [value]="selectedUser.lastNames"
          formControlName="lastName"
          matInput
          placeholder="Last name"
        />
        <mat-hint> User's Last name </mat-hint>
      </mat-form-field>
    </div>
    <div class="flex w-full items-center justify-start gap-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label> Email </mat-label>
        <input
          [value]="selectedUser.email"
          class="w-2/3"
          formControlName="email"
          matInput
          placeholder="Email"
        />
        <mat-hint> User's email </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> Status </mat-label>
        <mat-select [(value)]="selectedUser.status" formControlName="status">
          <mat-option>-</mat-option>
          <mat-option
            *ngFor="let option of selectOptions"
            [value]="option.value"
            >{{ option.label }}</mat-option
          >
        </mat-select>
        <mat-hint>User's account status</mat-hint>
      </mat-form-field>
    </div>
    <div class="w-full flex items-center gap-4">
      <button
        [disabled]="!updateUserForm.valid"
        class="transition-all px-9 py-3 bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark rounded-xl disabled:bg-surface disabled:dark:bg-surfaceDark disabled:border disabled:border-outline disabled:dark:border-outlineDark/50"
        type="submit"
      >
        Update User
      </button>

      <button
        (click)="updateUserForm.reset()"
        class="transition-all px-9 py-3 bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark rounded-xl"
      >
        Clear
      </button>
    </div>
  </form>
</section>
