<main class="h-full w-full p-4 animate__animated animate__fadeIn">
  <header
    class="bg-surfaceC dark:bg-surfaceCDark text-onSurface dark:text-onSurfaceDark rounded-2xl p-3 md:pt-32 md:pb-3 px-4"
  >
    <h1 class="text-6xl md:text-4xl font-semibold w-fit rounded-2xl">
      {{ 'query.header' | translate }}
    </h1>
  </header>

  <div class="p-4 mt-10 w-full">
    <h2 class="text-3xl md:text-2xl w-fit font-light font-sans rounded-2xl">
      {{ 'query.filters' | translate }}
    </h2>

    <app-users-search [defaultParams]="_params"></app-users-search>
    <div class="mb-60"></div>
    <app-table-users
      [defaultParams]="_params"
      [mockUsers]="data"
    ></app-table-users>
  </div>
</main>
