<div class="mt-5 flex w-full items-center justify-end gap-3 p-4">
  <button
    (click)="openModal()"
    class="flex items-center gap-2 rounded-xl px-3 py-1 text-sm bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark"
  >
    <span>{{ 'newUser.form.newUser' | translate }}</span>
    <mat-icon>add_circle</mat-icon>
  </button>
</div>

<!--- modal --->

<section
  *ngIf="modalOpen"
  class="fixed grid place-items-center inset-0 z-[1000]"
>
  <span
    (click)="closeModal()"
    class="absolute inset-0 backdrop-blur-xl backdrop-saturate-150 bg-surfaceCDark/50 animate__animated animate__fadeIn animate__faster text-[transparent]"
  >
    :)
  </span>

  <div
    class="flex h-2/3 w-2/3 flex-col bg-surface animate__animated animate__slideInUp dark:bg-surfaceDark"
  >
    <div class="w-full flex items-center justify-between pr-5">
      <h1
        class="border-b p-8 text-3xl font-bold border-outline dark:border-outline/50"
      >
        {{ 'newUser.form.newUser' | translate }}
      </h1>

      <button
        (click)="closeModal()"
        class="bg-surfaceDark dark:bg-surface"
        mat-icon-button
        matTooltip="Close"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="h-full w-full p-5">
      <form (ngSubmit)="onSubmit()" [formGroup]="newUserForm" class="space-y-4">
        <div class="flex w-full items-center gap-3">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'newUser.form.name' | translate }}</mat-label>
            <input
              [formControl]="newUserForm.controls.name"
              matInput
              placeholder="Name"
            />
            <mat-hint>{{ 'newUser.form.enterName' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'newUser.form.lastName' | translate }}</mat-label>
            <input
              [formControl]="newUserForm.controls.lastName"
              matInput
              placeholder="Username"
            />
            <mat-hint>{{ 'newUser.form.enterLastName' | translate }}</mat-hint>
          </mat-form-field>
        </div>

        <div class="flex w-full items-center gap-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'newUser.form.email' | translate }}</mat-label>
            <input
              [formControl]="newUserForm.controls.email"
              matInput
              placeholder="Email"
            />
            <mat-hint>{{
              'newUser.form.enterEmailAddress' | translate
            }}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-1/3">
            <mat-label> {{ 'newUser.form.profile' | translate }}</mat-label>
            <input
              [formControl]="newUserForm.controls.profileId"
              class="w-2/3"
              matInput
              placeholder="Profile"
            />
            <mat-hint>{{ 'newUser.form.usersProfileId' | translate }}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'newUser.form.status' | translate }}</mat-label>
            <mat-select
              [(value)]="selectOptions[0].value"
              [formControl]="newUserForm.controls.status"
            >
              <mat-option>-</mat-option>
              <mat-option
                *ngFor="let option of selectOptions"
                [value]="option.value"
                >{{ option.label | translate }}</mat-option
              >
            </mat-select>
            <mat-hint>{{
              'newUser.form.usersAccountStatus' | translate
            }}</mat-hint>
          </mat-form-field>
        </div>
        <div class="w-full flex items-center gap-4">
          <button
            [disabled]="!newUserForm.valid"
            class="transition-all px-9 py-3 bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark rounded-xl disabled:bg-surface disabled:dark:bg-surfaceDark disabled:border disabled:border-outline disabled:dark:border-outlineDark/50"
            type="submit"
          >
            {{ 'newUser.form.addUser' | translate }}
          </button>

          <button
            (click)="newUserForm.reset()"
            class="transition-all px-9 py-3 bg-surfaceC text-error dark:bg-surfaceCDark dark:text-error rounded-xl"
          >
            {{ 'newUser.form.reset' | translate }}
          </button>
        </div>
      </form>

      <h1
        class="mt-9 text-xl font-semibold mb-5 border-b border-outline dark:border-outlineDark/50"
      >
        {{ 'newUser.form.preview' | translate }}
      </h1>

      <div
        class="w-full border border-outline dark:border-outlineDark/40 rounded-b-lg overflow-x-auto"
      >
        <table
          class="table-auto w-full montserrat font-light bg-surfaceC dark:bg-surfaceCDark rounded-b-lg p-10"
        >
          <caption>
            {{
              'newUser.table.caption' | translate
            }}
          </caption>
          <thead class="bg-surfaceBright dark:bg-surfaceBrightDark">
            <tr>
              <th class="px-4 py-2">{{ 'newUser.form.name' | translate }}</th>
              <th class="px-4 py-2">
                {{ 'newUser.form.lastName' | translate }}
              </th>
              <th class="px-4 py-2">{{ 'newUser.form.email' | translate }}</th>
              <th class="px-4 py-2">{{ 'newUser.form.status' | translate }}</th>
              <th class="px-4 py-2">
                {{ 'newUser.form.profileId' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td
                class="border-x text-center border-outline dark:border-outlineDark/50 px-4 py-3 max-w-xl truncate"
              >
                {{ this.newUserForm.value.name }}
              </td>
              <td
                class="border-x text-center border-outline dark:border-outlineDark/50 px-4 py-3 max-w-fit truncate"
              >
                {{ this.newUserForm.value.lastName }}
              </td>
              <td
                class="border-x text-center border-outline dark:border-outlineDark/50 px-4 py-3 max-w-fit truncate"
              >
                {{ this.newUserForm.value.email }}
              </td>
              <td
                class="border-x text-center border-outline dark:border-outlineDark/50 px-4 py-3 min-w-max"
              >
                <span
                  [className]="
                    this.newUserForm.value.status
                      ? 'rounded-xl px-4 py-2 text-sm mx-2 font-bold opacity-70 bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark'
                      : 'rounded-xl px-4 py-2 text-sm mx-2 font-bold opacity-70 bg-errorDark text-error dark:bg-onErrorDarK'
                  "
                >
                  {{
                    this.newUserForm.value.status
                      ? ('userSelector.active' | translate)
                      : ('userSelector.inactive' | translate)
                  }}
                </span>
              </td>
              <td
                class="border-l text-center border-outline dark:border-outlineDark/50 px-4 py-3"
              >
                {{ this.newUserForm.value.profileId }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
