<aside
  class="min-w-[6rem] shadow-2xl bg-surfaceC dark:bg-surfaceCDark h-screen flex flex-col py-7 items-center gap-5"
>
  <ul class="flex flex-col items-center gap-5 h-full">
    <li>
      <a
        mat-icon-button
        matTooltip="Home"
        matTooltipTemplate="#tooltipTemplate"
        routerLink="/"
        routerLinkActive="!bg-onSecondary !text-secondary dark:!bg-surfaceDark dark:!text-secondaryDark"
      >
        <mat-icon>apps</mat-icon>
      </a>

      <ng-template #tooltipTemplate>
        <div class="tooltip">
          <img alt="Home icon" src="/assets/images/home-icon.png" />
          <p>This is the home page.</p>
        </div>
      </ng-template>
    </li>

    <li>
      <a
        mat-icon-button
        matTooltip="Audit"
        routerLink="/audit"
        routerLinkActive="!bg-onPrimary !text-primary dark:!bg-onPrimaryDark dark:!text-primaryDark"
      >
        <mat-icon>view_list</mat-icon>
      </a>
    </li>
    <li>
      <a
        mat-icon-button
        matTooltip="Operations"
        routerLink="/users"
        routerLinkActive="!bg-onPrimary !text-primary dark:!bg-onPrimaryDark dark:!text-primaryDark"
      >
        <mat-icon>supervisor_account</mat-icon>
      </a>
    </li>
    <li class="mt-auto">
      <button
        (click)="logout()"
        class="transition-all p-3 rounded-full grid place-items-center bg-surface text-error hover:bg-errorDark dark:text-errorDark dark:bg-surfaceDark dark:hover:text-error dark:hover:bg-onErrorDarK"
        matTooltip="Logout"
      >
        <mat-icon>keyboard_return</mat-icon>
      </button>
    </li>
  </ul>
</aside>
