<ng-container *ngIf="profile$ | async as profile">
  <ng-container *ngIf="isProfile(profile); else loading">
    <h1 class="!bg-surface dark:!bg-surfaceDark" mat-dialog-title>
      {{ 'profileDialog.titleFound' | translate }}
    </h1>
    <div
      class="!bg-surface dark:!bg-surfaceDark w-full h-[72%] mostly-customized-scrollbar"
      mat-dialog-content
    >
      <div class="w-full pt-9">
        <div class="flex w-full flex-col gap-2 rounded-xl border montserrat">
          <h1
            class="w-full px-3 py-2 text-xl border-outline dark:border-outlineDark/40"
          >
            {{ 'profileDialog.id' | translate }}: {{ profile.profileId }}
          </h1>
          <h1
            class="w-full border-t px-3 py-2 text-xl border-outline dark:border-outlineDark/40"
          >
            {{ 'profileDialog.name' | translate }}: {{ profile.name }}
          </h1>
          <h1
            class="w-full border-t px-3 py-2 text-xl border-outline dark:border-outlineDark/40"
          >
            {{ 'profileDialog.description' | translate }}:
            {{ profile.description_profile }}
          </h1>
          <h1
            [className]="
              profile.status
                ? 'w-full rounded-b-xl border-t px-3 py-2 text-xl bg-onPrimary border-outline dark:bg-onPrimaryDark dark:border-outlineDark/40'
                : 'w-full rounded-b-xl border-t px-3 py-2 text-xl bg-errorDark border-outline dark:bg-onErrorDarK dark:border-outlineDark/40'
            "
          >
            {{ 'profileDialog.status' | translate }}: {{ profile.status }}
          </h1>
        </div>
      </div>
    </div>

    <mat-dialog-actions class="!bg-surface dark:!bg-surfaceDark w-full px-3">
      <div class="w-full flex items-center gap-3">
        <button class="w-full" mat-button mat-dialog-close>
          {{ 'profileDialog.cancel' | translate }}
        </button>

        <button
          (click)="setProfile(profile)"
          [mat-dialog-close]="true"
          class="w-full"
          mat-button
        >
          {{ 'profileDialog.select' | translate }}
        </button>
      </div>
    </mat-dialog-actions>
  </ng-container>

  <ng-container *ngIf="isError(profile)">
    <h1 class="!bg-surface dark:!bg-surfaceDark" mat-dialog-title>
      {{ 'profileDialog.titleNotFound' | translate }}
    </h1>
    <div
      class="w-full p-3 bg-surface h-[80%] mostly-customized-scrollbar dark:bg-surfaceDark"
      mat-dialog-content
    >
      <div class="w-full items-center justify-center pt-4">
        {{ profile.error.description }}
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="bg-surface dark:bg-surfaceDark">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-template>
</ng-container>
