<main class="w-full h-full">
  <div
    class="w-full p-4 bg-surfaceC dark:bg-surfaceCDark flex items-center justify-between"
  >
    <h1 class="text-2xl montserrat">Parqueos</h1>
    <button
      class="flex items-center gap-2 rounded-xl px-3 py-1 text-sm bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <span>Nuevo Parqueo</span>
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <app-parking-new></app-parking-new>
</main>
