<div class="container mt-4">
  <h1 class="display-4 text-center">Auditoria</h1>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form
      [formGroup]="filtroForm"
      (ngSubmit)="buscar()"
      class="w-100 d-flex justify-content-between"
    >
      <div class="form-group">
        <label for="fechaInicio" class="mr-2">Fecha de Inicio:</label>
        <input
          type="date"
          id="fechaInicio"
          formControlName="fechaInicio"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="fechaFin" class="ml-4 mr-2">Fecha Fin:</label>
        <input
          type="date"
          id="fechaFin"
          formControlName="fechaFin"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="operacion" class="ml-4 mr-2">Operación:</label>
        <input
          type="text"
          id="operacion"
          formControlName="operacion"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="entidad" class="ml-4 mr-2">Entidad:</label>
        <input
          type="text"
          id="entidad"
          formControlName="entidad"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="usuario" class="ml-4 mr-2">Usuario:</label>
        <input
          type="text"
          id="usuario"
          formControlName="usuario"
          class="form-control"
        />
      </div>

      <div class="mb-3 d-flex">
        <button
          type="submit"
          class="btn btn-outline-primary ml-4 rounded-circle btn-shadow btn-sm mr-auto"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          class="btn btn-outline-secondary ml-4 rounded-circle btn-shadow btn-sm ml-auto"
          (click)="limpiarFiltros()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </form>
  </nav>
</div>
<app-tabla
  [dataSource]="dataSource"
  [displayedColumns]="displayedColumns"
></app-tabla>
<mat-paginator
  #paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  class="fixed-bottom"
></mat-paginator>

