<section class="grid h-full w-full place-items-center">
  <div
    class="h-auto w-2/3 rounded-xl p-16 bg-surfaceC dark:bg-surfaceCDark space-y-8"
  >
    <div class="flex w-full flex-col gap-4 items-center">
      <h1 class="text-4xl font-bold antialiased montserrat">Password Change</h1>
    </div>
    <mat-horizontal-stepper
      [linear]="true"
      class="bg-surfaceC dark:bg-surfaceCDark"
    >
      <!-- Step 1: Email and Verification Code -->
      <mat-step>
        <ng-template matStepLabel>
          <h2 class="text-primary dark:text-primaryDark text-2xl">Step 1</h2>
        </ng-template>
        <form
          [formGroup]="changePasswordForm"
          class="space-y-6"
          style="margin-top: 20px"
        >
          <div class="flex flex-col gap-6">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label style="font-size: 14px; margin-top: 12px"
                >Email Address</mat-label
              >
              <input matInput type="email" formControlName="email" />
            </mat-form-field>
          </div>
          <div class="flex flex-col gap-6">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Verification Code</mat-label>
              <input matInput type="text" formControlName="verificationCode" />
            </mat-form-field>
          </div>
          <div class="flex justify-end">
            <!-- Next Button for Step 1 -->
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Step 2: New Password -->
      <!-- Step 2: New Password -->
      <mat-step>
        <ng-template matStepLabel>
          <h2 class="text-primary dark:text-primaryDark text-2xl">Step 2</h2>
        </ng-template>
        <form
          [formGroup]="changePasswordForm"
          class="space-y-6"
          style="margin-top: 20px"
        >
          <div class="flex flex-col gap-6">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput type="password" formControlName="newPassword" />
            </mat-form-field>
          </div>
          <div class="flex flex-col gap-6">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                type="password"
                formControlName="confirmPassword"
              />
            </mat-form-field>
          </div>
          <div class="flex justify-end">
            <!-- Previous Button for Step 2 -->
            <button mat-raised-button color="primary" matStepperPrevious>
              Previous
            </button>
            <!-- Next Button for Step 2 -->
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
    <div class="flex justify-end mt-8">
      <!-- "Change Password" Button -->
      <button
        class="block rounded-lg px-4 py-3 text-white transition-all bg-secondary text-onSecondary hover:bg-onPrimary hover:text-primary focus:bg-surfaceBrightDark disabled:text-onSurface disabled:bg-surfaceC dark:bg-onPrimaryDark disabled:hover:bg-errorDark disabled:hover-text-error hover:dark:bg-onSurface hover:dark-text-primaryDark disabled:dark-text-onSurfaceDark disabled:dark-bg-surfaceBrightDark disabled:dark-hover-bg-onErrorDark disabled:dark-hover-text-errorDark"
        type="button"
        (click)="changePassword()"
      >
        Change Password
      </button>
    </div>
  </div>
</section>
