<ng-container *ngIf="selectedParking">
  <ng-container *ngIf="action$ | async as actionPark">
    <ng-container *ngIf="actionPark === 'update'">
      <main class="w-full h-full p-3 space-y-6">
        <h1
          class="text-5xl w-full p-3 pt-52 rounded-xl montserrat bg-surfaceC dark:bg-surfaceCDark max-sm:text-3xl max-sm:pt-32"
        >
          Editar Parqueo
        </h1>
        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="updateParkingForm"
          class="flex w-full flex-col items-start justify-start space-y-3"
        >
          <label class="font-light montserrat text-2xl">Datos</label>
          <div
            class="w-full flex max-sm:flex-col items-center gap-3 justify-center"
          >
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Codigo</mat-label>
              <input
                formControlName="code"
                matInput
                placeholder="Codigo"
                type="number"
              />
              <mat-hint>Codigo del nuevo parqueo</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombre</mat-label>
              <input formControlName="name" matInput placeholder="Nombre" />
              <mat-hint>Nombre del nuevo parqueo</mat-hint>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Direccion</mat-label>
            <input formControlName="address" matInput placeholder="Direccion" />
            <mat-hint>Direccion</mat-hint>
          </mat-form-field>
          <div
            class="w-full flex max-sm:flex-col items-center gap-3 justify-center"
          >
            <mat-form-field appearance="outline" class="w-1/2 max-sm:w-full">
              <mat-label>Manager</mat-label>
              <input formControlName="manager" matInput placeholder="Manager" />
              <mat-hint>Manager del nuevo parqueo</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 max-sm:w-full">
              <mat-label>Telefono</mat-label>
              <input
                formControlName="phone"
                matInput
                placeholder="Telefono"
                type="number"
              />
              <mat-hint>Telefono del nuevo parqueo</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="max-sm:w-full">
              <mat-label translate="newProfile.statusLabel"></mat-label>

              <mat-select formControlName="status">
                <mat-option>-</mat-option>
                <mat-option
                  *ngFor="let option of selectOptions"
                  [value]="option.value"
                  >{{ option.label | translate }}</mat-option
                >
              </mat-select>
              <mat-hint translate="newProfile.statusPlaceholder"></mat-hint>
            </mat-form-field>
          </div>
          <div
            class="w-full flex max-sm:flex-col items-center gap-4 max-sm:mb-3"
          >
            <button
              [disabled]="updateParkingForm.invalid"
              class="transition-all px-9 py-3 bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark rounded-xl disabled:bg-surface disabled:dark:bg-surfaceDark disabled:border disabled:border-outline disabled:dark:border-outlineDark/50 max-sm:w-full"
              type="submit"
            >
              Actualizar Parqueo
            </button>

            <button
              (click)="this.updateParkingForm.reset()"
              class="transition-all px-9 py-3 bg-surfaceC text-error dark:bg-surfaceCDark dark:text-error rounded-xl max-sm:w-full"
            >
              Restablecer
            </button>
          </div>
        </form>
      </main>
    </ng-container>

    <ng-container *ngIf="actionPark === 'rates'">
      <app-park-lot></app-park-lot>
    </ng-container>
  </ng-container>
</ng-container>
