<ul class="flex h-full w-full flex-col gap-3 px-3 py-5">
  <ng-container *ngIf="responseUser; else loading">
    <li
      (click)="selectUser(user)"
      *ngFor="let user of responseUser; trackBy: tracking"
      [className]="
        user.status
          ? 'flex w-full items-center gap-3 rounded-2xl border px-3 py-3 transition-all bg-surfaceC text-primary border-outline/40 hover:bg-onPrimary dark:bg-surfaceCDark dark:text-primaryDark dark:border-outlineDark/40 dark:hover:bg-onPrimaryDark hover:animate-pulse hover:duration-200 hover:delay-100'
          : 'flex w-full items-center gap-3 rounded-2xl border px-3 py-3 transition-all bg-errorDark text-error border-error hover:bg-surfaceC dark:bg-onErrorDarK/20 dark:text-error dark:border-error/40 dark:hover:bg-surfaceCDark'
      "
      role="button"
    >
      <mat-icon class="min-w-fit px-2">supervised_user_circle</mat-icon>

      <div class="flex flex-col overflow-hidden">
        <span class="text-lg">ID: {{ user.userId }}</span>
        <span class="truncate transition-all text-md hover:whitespace-normal"
          >Name: {{ user.names }}</span
        >
        <span class="truncate text-sm transition-all hover:whitespace-normal"
          >Email: {{ user.email }}</span
        >
        <span class="text-sm">Status: {{ user.status }}</span>
      </div>
    </li>
  </ng-container>
  <ng-template #loading>
    <div class="grid h-full w-full place-items-center">
      <span class="animate-bounce text-3xl">.</span>
    </div>
  </ng-template>
</ul>
