<form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
  <label
    class="sr-only mb-3 text-sm font-medium text-primary dark:text-primaryDark"
    for="default-search"
    >Search</label
  >
  <div class="relative">
    <div
      class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
    >
      <svg
        aria-hidden="true"
        class="h-4 w-4 text-gray-500 dark:text-gray-400"
        fill="none"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      ></svg>
    </div>
    <input
      class="block w-full p-4 pl-10 text-sm transition-all text-primary bg-surface placeholder-primary focus:outline-primary focus:outline-none focus:outline focus:outline-1 focus:outline-offset-0 dark:text-primaryDark dark:bg-surfaceDark dark:border-outlineDark dark:placeholder-primaryDark/80 dark:text-white focus:dark:outline-primaryDark"
      formControlName="search"
      id="default-search"
      placeholder="Search Users By Id"
      type="search"
    />
    <button
      class="absolute rounded-lg px-4 py-2 text-sm font-medium transition-all text-primary right-2.5 bottom-2.5 bg-onPrimary hover:bg-surfaceC focus:outline-none focus:ring-4 focus:ring-blue-300 dark:text-primaryDark dark:bg-onPrimaryDark dark:hover:bg-onSurface dark:focus:ring-blue-800"
      type="submit"
    >
      Search
    </button>
  </div>
</form>

<ul class="flex h-full w-full flex-col gap-3 overflow-y-auto px-3 py-5">
  <ng-container *ngIf="responseUser; else loading">
    <li
      *ngFor="let user of responseUser; trackBy: tracking"
      class="flex w-full items-center gap-3 rounded-2xl px-3 py-3 transition-all bg-onPrimary text-primary hover:bg-surfaceC dark:bg-onPrimaryDark dark:text-primaryDark dark:hover:bg-surfaceCDark"
      role="button"
    >
      <mat-icon class="min-w-fit px-2">supervised_user_circle</mat-icon>

      <div class="flex flex-col overflow-hidden">
        <span class="text-lg">ID: {{ user.userId }}</span>
        <span
          class="truncate transition-all text-md text-primary/80 hover:whitespace-normal dark:text-primaryDark/80"
          >Name: {{ user.names }}</span
        >
        <span
          class="truncate text-sm transition-all text-primary/70 hover:whitespace-normal dark:text-primaryDark/70"
          >Email: {{ user.email }}</span
        >
        <span class="text-sm text-primary/70 dark:text-primaryDark/70"
          >Status: {{ user.status }}</span
        >
      </div>
    </li>
  </ng-container>
  <ng-template #loading>
    <div class="w-full h-full grid place-items-center">
      <span class="animate-bounce text-3xl">.</span>
    </div>
  </ng-template>
</ul>
