<main class="flex h-screen w-full">
  <section
    class="flex h-full w-full items-center justify-start bg-surfaceC dark:bg-surfaceCDark"
  >
    <h1
      class="whitespace-pre-line text-9xl font-bold tracking-tight text-surfaceBrightDark montserrat"
    >
      Parking <br />
      Admin<br />
      <span class="text-primary dark:text-primaryDark/50">Portal</span>
    </h1>
  </section>
  <section class="grid h-full w-full place-items-center min-w-max">
    <div
      class="relative flex h-2/3 w-2/3 flex-col justify-center rounded-2xl border p-5 border-outlineDark/40"
    >
      <span
        *ngIf="error"
        class="animate__animated animate__fadeInUp animate__faster absolute top-10 inset-x-0 mx-20 text-center rounded-2xl px-5 py-2 text-error bg-errorDark dark:bg-onErrorDarK dark:text-errorDark"
        >Check your credentials and try again
      </span>
      <h1 class="my-5 text-center text-5xl font-semibold montserrat">
        Parking <span class="text-primary dark:text-primaryDark">Portal</span>
      </h1>
      <form
        (ngSubmit)="OnSubmit()"
        [formGroup]="authForm"
        class="mt-6 px-20 montserrat"
      >
        <div>
          <label class="block text-sm text-onSurface dark:text-onSurfaceDark/90"
            >Email Address</label
          >
          <input
            autocomplete
            autofocus
            class="mt-2 w-full rounded-lg px-4 py-3 outline-none transition-all focus:bg-onPrimary focus:outline-outline/70 focus:outline focus:outline-offset-0 dark:bg-onSurface focus:dark:bg-onPrimaryDark focus:dark:outline-outlineDark"
            formControlName="email"
            id="Email"
            name="email"
            placeholder="Enter Email Address"
            required
            type="email"
          />
        </div>

        <div class="mt-4">
          <label class="block text-sm text-onSurface dark:text-onSurfaceDark/90"
            >Password</label
          >
          <input
            class="mt-2 w-full rounded-lg px-4 py-3 outline-none transition-all focus:bg-onPrimary focus:outline-outline/70 focus:outline focus:outline-offset-0 dark:bg-onSurface focus:dark:bg-onPrimaryDark focus:dark:outline-outlineDark"
            formControlName="password"
            id="Password"
            minlength="6"
            name="password"
            placeholder="Enter Password"
            required
            type="password"
          />
        </div>

        <div class="mt-2 text-right">
          <a
            [routerLink]="['', { outlets: { security: ['recover'] } }]"
            class="text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700"
            >Forgot Password?</a
          >
        </div>

        <button
          [disabled]="authForm.invalid"
          class="mt-6 block w-full rounded-lg px-4 py-3 font-semibold text-white transition-all bg-secondary text-onSecondary hover:bg-onPrimary hover:text-primary focus:bg-surfaceBrightDark disabled:text-onSurface disabled:bg-surfaceC dark:bg-onPrimaryDark disabled:hover:bg-errorDark disabled:hover:text-error hover:dark:bg-onSurface hover:dark:text-primaryDark disabled:dark:text-onSurfaceDark disabled:dark:bg-surfaceBrightDark disabled:dark:hover:bg-onErrorDarK disabled:dark:hover:text-errorDark"
          type="submit"
        >
          Log In
        </button>
      </form>
    </div>
  </section>
</main>
