<main class="flex h-screen w-full">
  <section
    class="flex h-full w-full justify-start items-center bg-surfaceC dark:bg-surfaceCDark"
  >
    <h1
      class="text-9xl text-surfaceBrightDark font-bold tracking-tight whitespace-pre-line montserrat"
    >
      Parking <br />
      Admin<br />
      <span class="text-primary dark:text-primaryDark/50">Portal</span>
    </h1>
  </section>
  <section class="grid h-full w-full place-items-center">
    <div
      class="flex h-2/3 w-2/3 flex-col justify-center rounded-2xl border p-5 border-outlineDark/40"
    >
      <h1 class="my-5 text-center text-5xl font-semibold montserrat">
        Parking <span class="text-primaryDark">Portal</span>
      </h1>
      <form class="mt-6 px-20 montserrat">
        <div>
          <label class="block text-sm text-onSurface dark:text-onSurfaceDark/90"
            >Email Address</label
          >
          <input
            autocomplete
            autofocus
            class="mt-2 w-full rounded-lg px-4 py-3 outline-none transition-all focus:bg-onPrimaryDark focus:outline-outlineDark focus:outline focus:outline-offset-0 dark:bg-onSurface"
            id="Email"
            name="email"
            placeholder="Enter Email Address"
            required
            type="email"
          />
        </div>

        <div class="mt-4">
          <label class="block text-sm text-onSurface dark:text-onSurfaceDark/90"
            >Password</label
          >
          <input
            class="mt-2 w-full rounded-lg px-4 py-3 outline-none transition-all focus:bg-onPrimaryDark focus:outline-outlineDark focus:outline focus:outline-offset-0 dark:bg-onSurface"
            id="Password"
            minlength="6"
            name="password"
            placeholder="Enter Password"
            required
            type="password"
          />
        </div>

        <div class="mt-2 text-right">
          <a
            class="text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700"
            href="#"
            >Forgot Password?</a
          >
        </div>

        <button
          class="w-full transition-all block dark:bg-onPrimaryDark hover:bg-onSurface hover:text-primaryDark focus:bg-surfaceBrightDark text-white font-semibold rounded-lg px-4 py-3 mt-6"
          type="submit"
        >
          Log In
        </button>
      </form>
    </div>
  </section>
</main>
