<button
  (click)="toggleSidebar()"
  class="sm:hidden fixed grid place-items-center rounded-full bg-surfaceC dark:bg-surfaceCDark top-5 right-5 p-3 z-[1000]"
>
  <mat-icon>menu</mat-icon>
</button>
<aside
  [className]="
    mobileMenuVisible
      ? 'min-w-[6rem] transition-all  shadow-2xl bg-surfaceC dark:bg-surfaceCDark h-screen flex flex-col py-7 items-center gap-5 max-sm:fixed max-sm:top-0 max-sm:bottom-0 max-sm:left-[-100%] max-sm:z-[999]'
      : 'min-w-[6rem] shadow-2xl bg-surfaceC dark:bg-surfaceCDark h-screen flex flex-col py-7 items-center gap-5 max-sm:fixed max-sm:top-0 max-sm:bottom-0 max-sm:left-0 max-sm:z-[999] transition-all'
  "
>
  <div
    [className]="
      mobileMenuVisible
        ? 'hidden'
        : 'fixed inset-0 bg-black/30 transition-all -z-[30]'
    "
  ></div>
  <ul class="flex flex-col items-center gap-5 h-full">
    <li>
      <a
        [matTooltip]="'sidebar.home' | translate"
        mat-icon-button
        matTooltipTemplate="#tooltipTemplate"
        routerLink="/"
        routerLinkActive="!bg-onSecondary !text-secondary dark:!bg-surfaceDark dark:!text-secondaryDark"
      >
        <mat-icon>apps</mat-icon>
      </a>

      <ng-template #tooltipTemplate>
        <div class="tooltip">
          <img
            alt="{{ 'sidebar.home' | translate }} icon"
            src="/assets/images/home-icon.png"
          />
          <p>{{ 'header.homeDescription' | translate }}</p>
        </div>
      </ng-template>
    </li>

    <li>
      <a
        [matTooltip]="'sidebar.query' | translate"
        mat-icon-button
        routerLink="/audit"
        routerLinkActive="!bg-onPrimary !text-primary dark:!bg-onPrimaryDark dark:!text-primaryDark"
      >
        <mat-icon>view_list</mat-icon>
      </a>
    </li>
    <li>
      <a
        [matTooltip]="'sidebar.operations' | translate"
        [queryParams]="{ page: 0, size: 10, sort: 'userId' }"
        [routerLink]="['/users']"
        mat-icon-button
        routerLinkActive="!bg-onPrimary !text-primary dark:!bg-onPrimaryDark dark:!text-primaryDark"
      >
        <mat-icon>supervisor_account</mat-icon>
      </a>
    </li>
    <li>
      <a
        [matTooltip]="'Perfiles'"
        [queryParams]="{ page: 0, size: 10, sort: 'profileId' }"
        [routerLink]="['/profiles']"
        mat-icon-button
        routerLinkActive="!bg-onPrimary !text-primary dark:!bg-onPrimaryDark dark:!text-primaryDark"
      >
        <mat-icon>assignment_ind</mat-icon>
      </a>
    </li>
    <li>
      <a
        [matTooltip]="'Parqueos'"
        [queryParams]="{ page: 0, size: 10, sort: 'parkingId' }"
        [routerLink]="['/parking']"
        mat-icon-button
        routerLinkActive="!bg-onPrimary !text-primary dark:!bg-onPrimaryDark dark:!text-primaryDark"
      >
        <mat-icon>directions_car</mat-icon>
      </a>
    </li>
    <li class="mt-auto">
      <button
        (click)="logout()"
        [matTooltip]="'sidebar.logout' | translate"
        class="transition-all p-3 rounded-full grid place-items-center bg-surface text-error hover:bg-errorDark dark:text-errorDark dark:bg-surfaceDark dark:hover:text-error dark:hover:bg-onErrorDarK"
      >
        <mat-icon>keyboard_return</mat-icon>
      </button>
    </li>
  </ul>
</aside>
