<main class="w-full h-full flex flex-col py-4 overflow-auto">
  <section class="w-full flex justify-center p-2">
    <div
      class="min-w-[57px] min-h-[80px] border border-b-0 border-outline dark:border-outlineDark/70 relative"
      *ngFor="let row of rows"
    >
      <span class="rounded-lg absolute inset-4 bg-green-500"> </span>
    </div>
  </section>

  <section class="w-full flex flex-col items-center justify-center mt-auto p-2">
    <div class="flex">
      <div
        class="min-w-[57px] min-h-[80px] border border-t-0 border-outline dark:border-outlineDark/70 relative"
        *ngFor="let row of rows"
      >
        <span class="rounded-lg absolute inset-4 bg-green-500"> </span>
      </div>
    </div>

    <div class="flex">
      <div
        class="min-w-[57px] min-h-[80px] border border-b-0 border-outline dark:border-outlineDark/70 relative"
        *ngFor="let row of rows"
      >
        <span class="rounded-lg absolute inset-4 bg-green-500"> </span>
      </div>
    </div>
  </section>

  <section class="w-full flex justify-center mt-auto p-2">
    <div
      class="min-w-[57px] min-h-[80px] border border-t-0 border-outline dark:border-outlineDark/70 relative"
      *ngFor="let row of rows"
    >
      <span class="rounded-lg absolute inset-4 bg-green-500"> </span>
    </div>
  </section>
</main>
