<aside
  class="h-full flex flex-col w-80 bg-onSurfaceDark dark:bg-onSurface border-r border-outline/40 dark:border-outlineDark/40 animate__animated animate__fadeInLeft animate__faster"
>
  <header
    class="w-full grid place-content-center text-center py-5 bg-surfaceBright dark:bg-surfaceBrightDark border-b border-outline/40 dark:border-outlineDark/40"
  >
    <h1
      class="py-2 px-5 w-fit rounded-xl bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark"
    >
      Users
    </h1>
  </header>
  <ul class="flex flex-col w-full h-full gap-3 py-5 px-3 overflow-y-auto">
    <li
      *ngFor="let response of response$ | async"
      class="w-full flex items-center gap-3 py-5 px-3 bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark rounded-2xl transition-all hover:bg-surfaceC dark:hover:bg-surfaceCDark"
      role="button"
    >
      <mat-icon class="min-w-fit px-2">supervised_user_circle</mat-icon>

      <div class="flex flex-col">
        <span class="text-lg">ID: {{ response.id }}</span>
        <span class="text-md text-primary/80 dark:text-primaryDark/80">{{
          response.name
        }}</span>
        <span class="text-sm text-primary/70 dark:text-primaryDark/70">{{
          response.email
        }}</span>
        <span class="text-sm text-primary/70 dark:text-primaryDark/70"
          >Status: {{ response.status }}</span
        >
      </div>
    </li>
  </ul>
</aside>
