<ng-container *ngIf="{ profile: selectedProfile$ | async } as data">
  <div class="w-full p-4 flex flex-col gap-9">
    <header
      class="bg-surfaceC dark:bg-surfaceCDark text-onSurface dark:text-onSurfaceDark rounded-2xl pt-32 pb-3 px-4"
    >
      <h1 class="text-6xl font-semibold w-fit rounded-2xl">Perfiles</h1>
    </header>

    <div class="mt-5 flex w-full items-center justify-end gap-3 p-2">
      <button
        (click)="toggleAddProfile()"
        [disabled]="!data.profile"
        class="flex items-center gap-2 rounded-xl px-3 py-1 text-sm bg-onPrimary text-primary dark:bg-onPrimaryDark dark:text-primaryDark disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <span>Nuevo Perfil</span>
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="data.profile; else add">
      <app-profile-update [selectedProfile]="data.profile"></app-profile-update>
    </ng-container>

    <ng-template #add>
      <app-profile-new></app-profile-new>
    </ng-template>
  </div>
</ng-container>
