<div class="audit-card card">
    <div class="audit-title card-header">
      <span class="card-title">Guatemala</span>
      <span class="card-subtitle">O AUDITORÍA — | CREACIÓN</span>
    </div>
    <div class="audit-section card-body">
      <span class="card-text">Usuario:</span>
      <span class="card-text">{{ auditData.UserCreated }}</span>
      <span class="card-text">{{ auditData.DateCreated }}</span>
    </div>
    <div class="audit-section card-body">
      <span class="card-text">ÚLTIMA MODIFICACIÓN</span>
      <span class="card-text">{{ auditData.UserUpdated }}</span>
      <span class="card-text">{{ auditData.DateUpdated }}</span>
    </div>
    <button (click)="closeCard()">Cerrar</button>
  </div>
  