<ul class="flex h-full w-full flex-col gap-3 px-3 py-5">
  <ng-container *ngIf="profiles">
    <li
      (click)="setProfile(profile)"
      *ngFor="let profile of profiles"
      [className]="
        profile.status
          ? 'transition-all relative w-full rounded-xl bg-surface dark:bg-surfaceDark hover:bg-onPrimary/30 hover:dark:bg-onPrimaryDark/30'
          : 'transition-all relative w-full rounded-xl bg-error/30 hover:animate-pulse dark:bg-onErrorDarK hover:bg-errorDark hover:dark:bg-onErrorDarK/30'
      "
      role="button"
    >
      <div class="flex flex-col p-2 ml-5">
        <span class="text-onSurface/80 dark:text-onSurfaceDark/80"
          >ID: {{ profile.profileId }}</span
        >

        <span class="text-lg"> Nombre: {{ profile.name }} </span>

        <span class="text-onSurface/70 dark:text-onSurfaceDark/70">
          Descripcion: {{ profile.description_profile }}
        </span>

        <span class="mt-2 text-onSurface/60 dark:text-onSurfaceDark/60"
          >{{ profile.status ? 'Active' : 'Inactive' }}
        </span>
      </div>
    </li>
  </ng-container>
</ul>
