<ul class="flex h-full w-full flex-col gap-3 px-3 py-5">
  <ng-container *ngIf="profiles">
    <li
      *ngFor="let profile of profiles"
      class="relative w-full rounded-xl bg-surface dark:bg-surfaceDark before:content-[''] before:absolute before:top-0 before:bottom-0 before:dark:bg-primaryDark/80 before:bg-primary before:w-3 before:rounded-l-xl"
      role="button"
    >
      <div class="flex flex-col p-2 ml-5">
        <span class="text-onSurface/80 dark:text-onSurfaceDark/80"
          >ID: {{ profile.profileId }}</span
        >

        <span class="text-lg"> Nombre: {{ profile.name }} </span>

        <span class="text-onSurface/70 dark:text-onSurfaceDark/70">
          Descripcion: {{ profile.description_profile }}
        </span>

        <span class="mt-2 text-onSurface/60 dark:text-onSurfaceDark/60"
          >{{ profile.status ? 'Active' : 'Inactive' }}
        </span>
      </div>
    </li>
  </ng-container>
</ul>
